<div class="component">
  <header>
    <span class="page-title">User List</span>
    <span> | <a routerLink='/user/create'>Create New</a> </span>
  </header>
    <table class="table table-sm">
      <thead>
        <tr>
          <td>Id</td>
          <td>Name</td>
          <td>UserName</td>
          <td>Phone</td>
          <td>Email</td>
          <td>Reviewer?</td>
          <td>Admin?</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.Id }}</td>
          <td>{{ user.LastName }} , {{ user.FirstName }}</td>
          <td>{{ user.UserName }}</td>
          <td>{{ user.Phone }}</td>
          <td>{{ user.Email }}</td>
          <td>{{ user.IsReviewer ? "Yes" : "No" }}</td>
          <td>{{ user.IsAdmin  ? "Yes" : "No" }}</td>
          <td>
            <span>
              <a routerLink='/user/detail/{{user.Id}}'>View</a>
              |
              <a routerLink='/user/edit/{{user.Id}}'>Edit</a> 
              |
              <a routerLink='/user/delete/{{user.Id}}'>Delete</a> 
            </span>
          </td>
        </tr>
      </tbody>
    </table>
</div>
